<% if logged_in? %>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <section class="micropost_form">
                <%= render 'shared/micropost_form'%>
            </section>
        </div>
    </div>
    <div class="row">
        <h3 class="center">Articles (<%=current_user.microposts.count%>)</h3>
    </div>
    <div class="row">
        <%= render 'shared/feed' %>
    </div>
<%else%>
    <div class="center">
        <div class="row">
            <div class="col-lg-6 box">
                <h1>あとでよみます。</h1>
            </div>
            <%= link_to "Sign up now!",signup_path,class:"btn btn-lg btn-primary"%>
        </div>
    </div>
<%end%>