<%=form_for(@micropost) do |f|%>
    <%= render 'shared/error_message', object: f.object %>
    <div class="field">
        <%=f.text_field :url,placeholder:"Compose new url..."%>
    </div>
    <%= f.submit "Add",class:"btn btn-primary"%>
<%end%>