<%=form_for(@micropost) do |f|%>
    <%= render 'shared/error_message', object: f.object %>
    <div class="field cp_iptxt">
	    <label class="ef">
        <%=f.text_field :url,placeholder:"URL"%>
        <%= f.submit "Add",class:"btn btn-primary"%>
    </div>
<%end%>